{%  extends 'base.html' %}


{% block style %}
   <style>
   .mode
   {
        width: 50%;
        visibility :hidden;
   }
    .mode button
    {
        margin-left: 2em;
        size:2vw;
        width: 100%;

    }

   </style>
{% endblock style %}
{% block title %}
   Home
{% endblock title %}

{% block main_content %}
<div style="margin-top: 2em">
    <div >

        <a href="{%url 'Load' %}">About</a>


</div>

    <div  class="mode">
    <input type="radio" name="radio" id="radio1" />
    <label class="text-white"  style="font-size:2vw;" >Batch Moode</label>
    <br/>
    <button class="btn btn-secondary"   type="button" >Go</button>
</div>

    <div class="mode">
    <input type="radio" name="radio" id="radio2"  />
    <label class="text-white"  style="font-size:2vw;" >StepWise Mode</label>
        <br/>
    <button class="btn btn-secondary"    type="button" >Kideny Segmentation</button>
        <br/>
    <button class="btn btn-secondary"   type="button" >Motion Correction</button>

        <br/>
    <button class="btn btn-secondary"  type="button" >Kideny Diagnosis</button>

</div>

</div>




{% endblock main_content %}
