{%  extends 'base.html' %}


{% block title %}
   Home
{% endblock title %}

{% block main_content %}


<div class="panel panel-green">
                        <div class="panel-heading">
                            Info
                        </div>
                        <div class="panel-body">
                            <p>
Info About Project How To use it</p>
                        </div>
                        <div class="panel-footer">
                           Regardes
                        </div>
                    </div>

{% endblock main_content %}
