{%  extends 'base.html' %}



{% block title %}
    EC3 - Add Lun
{% endblock title %}

{% block main_content %}
test
    <div >
                  <input type="radio" name="radio" id="radio1" />
                  <label class="text-white"  style="font-size:5vw;">All</label>
                </div>

                  <div >
                  <input type="radio" name="radio" id="radio2" />
                  <label class="text-white"  style="font-size:5vw;">Steps</label>
                </div>
                <div >

                </div>
                  <button class="btn btn-secondary"  style="font-size:2vw;" type="button">kideny segmentation</button>

           <button class="btn btn-secondary" type="button">kideny segmentation</button>

test
{% endblock main_content %}
