{% extends 'base.html' %}
{% load staticfiles  %}

{% block title %} EC3 - Host Details {% endblock title %}

{% block css %}

    <link href="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'bower_components/datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block main_content %}

    <div id="page-wrapper">

    </div>
{% endblock main_content %}
 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      {% for slice in Slices %}
             <div class="carousel-item  {% if forloop.counter == 1 %}active {% endif %}">

                <img class="d-block w-100" src="{{ media_url }}\\{{request.session.ImagFoldar}}\\{{slice}}" alt="First slide">
            </div>


      {% endfor %}

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

