{% extends 'base.html' %}
{% load staticfiles  %}

{% block title %} Initialization{% endblock title %}
{% block page-header %}
                             Initialization
{% endblock page-header %}


{% block main_content %}

     <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                         <div class="panel-body">
                            <div class="row">

 <div class="col-lg-4" style="display:none">
            <canvas id="canvas" width="640" height="480" style="cursor:crosshair;" data-imgsrc="Slice.014.bmp"  oncontextmenu="return false;">
                Your browser does not support the HTML5 canvas tag.
            </canvas>
            <button id="btnAccept">Accept</button>
        </div>

                                <div class="col-lg-4">
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
   <!--
    <ol class="carousel-indicators">
          {% for slice in Slices %}
      <li data-target="#myCarousel" data-slide-to="{{forloop.counter }}" class="{% if forloop.counter == 1 %}active {% endif %}"></li>
        {% endfor %}
    </ol>
-->
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
         {% for slice in Slices %}
      <div class="item {% if forloop.counter == 1 %}active {% endif %}">
        <img src="{{ media_url }}\\{{request.session.ImagFoldar}}\\{{slice}}" id="{{forloop.counter }}" style="width:100%;">
      </div>
        {% endfor %}



    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

                                 </div>
                                <div class="col-lg-4">
                                </div>
                                <div class="col-lg-4 panel-body">
                                    <div class="form-group">
                                        <a href="" id="SelectRef" class="btn btn-primary  btn-social btn-bitbucket" class="btn btn-primary">Select referance</a>
                                    </div>
                                    <div class="form-group">
                                        <a href="" id="Initialization" class="btn btn-primary  btn-social btn-bitbucket" class="btn btn-primary">Initialization</a>
                                    </div>

                                </div>
                            </div>
                             <div class="row" id="result">

                             </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

{% endblock main_content %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'paint/paper-full.js' %}"></script>
  <link rel="stylesheet" href="{% static 'paint/style.css' %}">

<script>

$(document).ready(function() {
String.prototype.filename=function(extension){
    var s= this.replace(/\\/g, '/');
    console.log(s);
    s= s.substring(s.lastIndexOf('/')+ 1);
    console.log(s);
    return s;
}

$("#SelectRef").click(function(){

    $.get("SelectRef/"+$( ".active" ).children('img').attr("id")+"/"+$( ".active" ).children('img').attr("src").filename()
,
    function(data, status){
console.log(data.data);
if(data.status=="Done")
        $("#result").html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>Your Referance is  '+data.data+' </div>');
 else
        $("#result").html('<div class="alert alert-danger  alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>Error Call Admin</div>');


    });
});


});

</script>
{% endblock javascript %}