{% load staticfiles %}

         <div >
                  <input type="radio" name="radio" id="radio1" />
                  <label class="text-white"  style="font-size:5vw;">All</label>
                </div>

                  <div >
                  <input type="radio" name="radio" id="radio2" />
                  <label class="text-white"  style="font-size:5vw;">Steps</label>
                </div>
                <div >

                </div>
                  <button class="btn btn-secondary"  style="font-size:2vw;" type="button">kideny segmentation</button>

           <button class="btn btn-secondary" type="button">kideny segmentation</button>


          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
-->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/coming-soon.min.js' %}"></script>

  </body>

</html>
