{% load staticfiles %}
{% load user_auth %}
<!-- HEADER -->
		<header id="header">
			<div id="logo-group">

				<!-- PLACE YOUR LOGO HERE -->
				<span id="logo"> <img src="{% static 'img/logo2.png' %}" alt="EC3 DCOps"> </span>

				<!-- END LOGO PLACEHOLDER -->


				<!-- Note: The activity badge color changes when clicked and resets the number to 0
				Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
				<span id="activity" class="activity-dropdown"> <i class="fa fa-bell-o"></i> <b class="badge"> {{ request.session.logscount}}  </b> </span>
					<!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
					<div class="ajax-dropdown">

						<!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
						<div class="btn-group btn-group-justified" data-toggle="buttons">
							<label class="btn btn-default">
								<input type="radio" name="activity" id="/Logs/Notification/">
								Display All Notification </label>

						</div>

						<!-- notification content -->
						<div class="ajax-notifications custom-scroll">

							<div class="alert alert-transparent">
								<h4>Click a button to show messages here</h4>
								This blank page message helps protect your privacy, or you can show the first message here automatically.
							</div>

							<i class="fa fa-lock fa-4x fa-border"></i>

						</div>
						<!-- end notification content -->

						<!-- footer: refresh area -->
						<span> Last updated on: {% now "D/M/Y" %}
							<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
								<i class="fa fa-refresh"></i>
							</button> </span>
						<!-- end footer -->

					</div>
					<!-- END AJAX-DROPDOWN -->
			</div>



			<!-- pulled right: nav area -->
			<div class="pull-right">

				<!-- collapse menu button -->
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<!-- end collapse menu -->

				<!-- #MOBILE -->
				<!-- Top menu profile link : this shows only when top menu is active -->
				<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
					<li class="">
						<a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
							<img src="{% static 'img/avatars/sunny.png' %}" alt="John Doe" class="online" />
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="Login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout">
									<i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
							</li>
						</ul>
					</li>
				</ul>

				<!-- logout button -->
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="/accounts/logout" title="Sign Out" data-action="userLogout" data-logout-msg="Are You Want To log out?"><i class="fa fa-sign-out"></i></a> </span>
				</div>
				<!-- end logout button -->

				<!-- search mobile button (this is hidden till mobile view port) -->
				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<!-- end search mobile button -->


				<!-- fullscreen button -->
				<div id="fullscreen" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
				</div>
				<!-- end fullscreen button -->




			</div>
			<!-- end pulled right: nav area -->

		</header>
		<!-- END HEADER -->
<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">

			<!-- User info -->
			<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it -->

					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
						<!--<img src="{% static 'img/avatars/sunny.png' %}" alt="me" class="online" />-->
						<span>
							Welcome, {{ user }}
						</span>
						<i class="fa fa-angle-down"></i>
					</a>

				</span>
			</div>
			<!-- end user info -->

			<!-- NAVIGATION : This navigation is also responsive-->
			<nav>
				<!--
				NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional href="" links. See documentation for details.
				-->

				<ul>
					<li class="active">
						<a href="/" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
					</li>
					 {% if user|hasRole:"user_admin"%}
					<li >
						<a href="#"><i class="fa fa-users fa-fw"></i> <span class="menu-item-parent">Users</span></a>
						<ul>
							<li  class="{% if request.path|InURL:'Add' %}active{% endif %}">
								<a href="{% url 'add_user' %}">Add New User</a>
							</li>
							<li  class="{% if request.path|InURL:'List' %}active{% endif %}">
								<a href="{% url 'list_users' %}">List Users</a>
							</li>
						</ul>
					</li>
				{% endif %}

					<li>

						<a href="#"><i class="fa fa-bar-chart"></i>

						<span class="menu-item-parent ">Monitoring </span></a>
						<ul>
							{% if user|hasRole:"Infra_admin"%}
							<li>
								<a href="#"> <i class="fa fa-server fa-fw"></i> infrastructure</a>
								<ul>
									<!--<li class="{% if request.path|InURL:'InfraDrag' %}active{% endif %}">
										<a href="{% url 'index' %}">Topology</a>
									</li>
									 <li class="{% if request.path|InURL:'Luns' %}active{% endif %}">
										<a href="{% url 'DCAspecs' %}">Specs</a>
									</li>-->
								</ul>
							</li>
							{% endif %}
							 {% if user|hasRole:"storage_admin"%}
							<li>
								<a href="#"> <i class="fa fa-database fa-fw"></i> Storage</a>
								<ul>
									<li class="{% if request.path|InURL:'Disks' %}active{% endif %}">
										<a href="{% url 'list_disks' %}">List Disks</a>
									</li>
									 <li class="{% if request.path|InURL:'Luns' %}active{% endif %}">
										<a href="{% url 'list_luns' %}">List LUNs</a>
									</li>
									<li class="{% if request.path|InURL:'Raids' %}active{% endif %}">
										<a href="{% url 'list_raids' %}">List RAID Groups</a>
									</li>
									<li class="{% if request.path|InURL:'Sg' %}active{% endif %}">
										<a href="{% url 'list_storageGroups' %}">List Storage Groups</a>
									</li>
									<li class="{% if request.path|InURL:'Hosts' %}active{% endif %}">
										<a href="{% url 'list_hosts' %}">List Hosts</a>
									</li>
									<li class="{% if request.path|InURL:'Errors' %}active{% endif %}">
										<a href="{% url 'list_errors' %}">List Errors</a>
									</li>
									<li class="{% if request.path|InURL:'Settings' %}active{% endif %}">
										<a href="{% url 'storage_settings' %}">Settings</a>
									</li>

								</ul>
							</li>
							{% endif %}
							 {% if user|hasRole:"Monitor_admin"%}
							<li class="{% if request.path|InURL:'Nagios' %}active{% endif %}">
								<a href="#"> <i class="fa fa-bar-chart"></i> EC3 monitoring</a>
								<ul>
									<li class="{% if request.path|InURL:'Tactical_overview' %}active{% endif %}">
										<a href="{% url 'tactical_overview' %}"> Tactical Overview</a>
									</li>
									<li class="{% if request.path|InURL:'Hosts_List' %}active{% endif %}">
										<a href="{% url 'Hosts_List' %}"> Hosts List</a>
									</li>
									 <li class="{% if request.path|InURL:'Services_List' %}active{% endif %}">
											<a href="{% url 'Services_List'%}"> Services List</a>
									</li>
									<li class="{% if request.path|InURL:'Problems' %}active{% endif %}">
											<a href="{% url 'Problems_list'%}"> Logs </a>
									</li>
									<li class="{% if request.path|InURL:'Hosts_Down' %}active{% endif %}">
											<a href="{% url 'Hosts_Down'%}"> Down Hosts </a>
									</li>

								</ul>
							</li>
							{% endif %}
							{% if user|hasRole:"Network_admin"%}
							<li >
								<a href="#"> <i class="fa fa-sitemap"></i> Network</a>
								<ul>
									<li class="{% if request.path|InURL:'List_Devices' %}active{% endif %}">
										<a href="{% url 'List_Devices' %}">Devices</a>
									</li>
									<li class="{% if request.path|InURL:'List_Events' %}active{% endif %}">
										<a href="{% url 'List_Events' %}">Events</a>
									</li>


								</ul>
							</li>
{% endif %}
						</ul>
					</li>

					<li>

						<a href="#"><i class="fa fa-wrench"></i>
						<span class="menu-item-parent ">Operations </span></a>
						<ul>
							{% if user|hasRole:"Infra_admin"%}
							<li>
								<a href="#"> <i class="fa fa-server fa-fw"></i> Infrastructure</a>
								<ul>
									<li class="{% if request.path|InURL:'Topology' %}active{% endif %}">
										<a href="{% url 'index' %}">Topology</a>
									</li>
									<li class="{% if request.path|InURL:'Topology' %}active{% endif %}">
										<a href="{% url 'ListDevices' %}">Devices</a>
									</li>
									<li class="{% if request.path|InURL:'AddTopologyDevice' %}active{% endif %}">
										<a href="{% url 'AddTopologyDevice' %}">Add Device</a>
									</li>
									 <li class="{% if request.path|InURL:'Specs' %}active{% endif %}">
										<a href="{% url 'DCAspecs' %}">Specs</a>
									</li>

								</ul>
							</li>
							{% endif %}
							{% if user|hasRole:"Network_admin"%}
							<li>
								<a href="#"> <i class="fa fa-sitemap"></i> Networks</a>
								<ul>
									<li class="{% if request.path|InURL:'CreateVlan' %}active{% endif %}">
										<a href="{% url 'CreateVlan' %}">Create Vlan</a>
									</li>

								</ul>
							</li>
							{% endif %}
						</ul>
					</li>



				</ul>
			</nav>


			<span class="minifyme" data-action="minifyMenu">
				<i class="fa fa-arrow-circle-left hit"></i>
			</span>

		</aside>

		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->